In [1]:
from account import Account

In [2]:
from decimal import Decimal

In [3]:
account1 = Account('John Green', Decimal('50.00'))

In [4]:
account1.name

'John Green'

In [5]:
account1.balance

Decimal('50.00')

In [6]:
account1.deposit(Decimal('25.53'))

In [7]:
account1.balance

Decimal('75.53')

In [9]:
class Account:
    """ Account class for maintaining a bank account balance."""

In [10]:
Account

__main__.Account

In [11]:
Account?

Init signature: Account()
Docstring:      Account class for maintaining a bank account balance.
Type:           type
Subclasses:

In [19]:
class Account:
    """Account class for maintaining a bank account balance."""
    
    def __init__(self, name, balance):
        """Initialize an Account object."""

        # if balance is less than 0.00, raise an exception
        if balance < Decimal('0.00'):
            raise ValueError('Initial balance must be >= to 0.00.')

        self.name = name
        self.balance = balance

    def deposit(self, amount):
        """Deposit money to the account."""

        # if amount is less than 0.00, raise an exception
        if amount < Decimal('0.00'):
            raise ValueError('amount must be positive.')

        self.balance += amount
        
    def withdraw(self, amount):
        """Withdraw money from the account."""
        
        ## If amount is less than 0.00, raise an exception
        if amount >= self.balance:
            raise ValueError('Amount must be less than balance')
        elif amount < Decimal('00.00'):
            raise ValueError('amount must be positive')
        
        self.balance += amount

In [20]:
account1 = Account('John Green', Decimal('50.00'))

In [30]:
account1.withdraw(Decimal('20.14'))

In [31]:
account1.balance

Decimal('150.70')

In [32]:
## 10.3

In [33]:
from account import Account

In [34]:
from decimal import Decimal

In [35]:
account1 = Account('John Green', Decimal('50.00'))

In [38]:
account1.balance = Decimal('-1000.00')

In [39]:
account1.balance

Decimal('-1000.00')

In [40]:
## 10.4

In [41]:
from timewithproperties import Time

In [42]:
wake_up = Time(hour=6, minute = 30)

In [43]:
wake_up

Time(hour=6, minute=30, second=0)

In [44]:
print(wake_up)

6:30:00 AM

In [45]:
wake_up.hour

6

In [46]:
wake_up.set_time(hour=7, minute = 45)

In [47]:
wake_up

Time(hour=7, minute=45, second=0)

In [48]:
wake_up.hour = 100

ValueError: Hour (100) must be 0-23

In [49]:
class Time:
    """Class Time with read-write properties."""

    def __init__(self, hour=0, minute=0, second=0):
        """Initialize each attribute."""
        self.hour = hour  # 0-23
        self.minute = minute  # 0-59
        self.second = second  # 0-59

    @property
    def hour(self):
        """Return the hour."""
        return self._hour

    @hour.setter
    def hour(self, hour):
        """Set the hour."""
        if not (0 <= hour < 24):
            raise ValueError(f'Hour ({hour}) must be 0-23')

        self._hour = hour

    @property
    def minute(self):
        """Return the minute."""
        return self._minute

    @minute.setter
    def minute(self, minute):
        """Set the minute."""
        if not (0 <= minute < 60):
            raise ValueError(f'Minute ({minute}) must be 0-59')

        self._minute = minute

    @property
    def second(self):
        """Return the second."""
        return self._second

    @second.setter
    def second(self, second):
        """Set the second."""
        if not (0 <= second < 60):
            raise ValueError(f'Second ({second}) must be 0-59')

        self._second = second

    def set_time(self, hour=0, minute=0, second=0):
        """Set values of hour, minute, and second."""
        self.hour = hour
        self.minute = minute
        self.second = second

    def __repr__(self):
        """Return Time string for repr()."""
        return (f'Time(hour={self.hour}, minute={self.minute}, ' + 
                f'second={self.second})')

    def __str__(self):
        """Return Time string in 12-hour clock format."""
        return (('12' if self.hour in (0, 12) else str(self.hour % 12)) + 
                f':{self.minute:0>2}:{self.second:0>2}' + 
                (' AM' if self.hour < 12 else ' PM'))

In [50]:
## 10.5

In [51]:
class PrivateClass:
    """Class with public and private attributes."""

    def __init__(self):
        """Initialize the public and private attributes."""
        self.public_data = "public"  # public attribute
        self.__private_data = "private"  # private attribute

In [52]:
from private import PrivateClass

In [53]:
my_object = PrivateClass()

In [55]:
my_object.public_data

'public'

In [56]:
## 10.6

In [57]:
from deck import DeckOfCards

In [58]:
deck_of_cards = DeckOfCards()

In [60]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [62]:
deck_of_cards.shuffle()

In [65]:
print(deck_of_cards)

10 of Hearts       King of Diamonds   8 of Clubs         Ace of Hearts
7 of Hearts        9 of Spades        2 of Clubs         King of Clubs
10 of Diamonds     King of Spades     Jack of Spades     Jack of Clubs
3 of Clubs         4 of Diamonds      6 of Clubs         9 of Hearts
2 of Diamonds      2 of Hearts        3 of Diamonds      7 of Spades
5 of Hearts        10 of Clubs        5 of Diamonds      4 of Hearts
8 of Diamonds      Queen of Hearts    8 of Hearts        Jack of Diamonds
5 of Clubs         8 of Spades        4 of Spades        7 of Clubs
Queen of Spades    3 of Spades        Ace of Spades      5 of Spades
7 of Diamonds      Ace of Diamonds    6 of Hearts        Jack of Hearts
6 of Diamonds      King of Hearts     Queen of Clubs     9 of Clubs
9 of Diamonds      10 of Spades       4 of Clubs         3 of Hearts
Ace of Clubs       2 of Spades        Queen of Diamonds  6 of Spades

In [69]:
card = deck_of_cards.deal_card()

In [70]:
str(card)

'King of Diamonds'

In [71]:
card.image_name

'King_of_Diamonds.png'

In [72]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [73]:
from pathlib import Path

In [74]:
path = Path('.').joinpath('card_images')

In [75]:
path

WindowsPath('card_images')

In [76]:
import matplotlib.pyplot as plt

In [77]:
import matplotlib.image as mpimg

In [78]:
 figure, axes_list = plt.subplots(nrows=4, ncols=13)

In [80]:
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

AttributeError: 'NoneType' object has no attribute 'image_name'

In [81]:
for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

AttributeError: 'NoneType' object has no attribute 'image_name'

In [82]:
figure.tight_layout()

In [84]:
deck_of_cards.shuffle()

for axes in axes_list.ravel():
    axes.get_xaxis().set_visible(False)
    axes.get_yaxis().set_visible(False)
    image_name = deck_of_cards.deal_card().image_name
    img = mpimg.imread(str(path.joinpath(image_name).resolve()))
    axes.imshow(img)

In [85]:
figure.tight_layout()

In [89]:
## 10.8

In [92]:
from commissionemployee import CommissionEmployee

In [93]:
from decimal import Decimal

In [94]:
c = CommissionEmployee('Sue','Jones','333-33-3333',Decimal('10000.00'), Decimal('0.06'))

In [95]:
c

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06

In [96]:
 print(f'{c.earnings():,.2f}')

600.00

In [97]:
c.gross_sales = Decimal('20000.00')

In [98]:
c.commission_rate = Decimal('0.1')

In [99]:
print(f'{c.earnings():,.2f}')

2,000.00

In [100]:
 from salariedcommissionemployee import SalariedCommissionEmployee

In [101]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444',
    Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [102]:
print(s.first_name, s.last_name, s.ssn, s.gross_sales, s.commission_rate, s.base_salary)

Bob Lewis 444-44-4444 5000.00 0.04 300.00

In [103]:
class WellPaidDuck:
    def __repr__(self):
        return 'I am a well-paid duck'
    def earnings(self):
        return Decimal('1_000_000.00')

In [104]:
from decimal import Decimal

In [105]:
from commissionemployee import CommissionEmployee

In [106]:
from salariedcommissionemployee import SalariedCommissionEmployee

In [107]:
c = CommissionEmployee('Sue','Jones','333-33-3333',Decimal('10000.00'), Decimal('0.06'))

In [108]:
s = SalariedCommissionEmployee('Bob', 'Lewis', '444-44-4444', Decimal('5000.00'), Decimal('0.04'), Decimal('300.00'))

In [109]:
d = WellPaidDuck()

In [110]:
employees = [c,s,d]

In [111]:
employees

[CommissionEmployee: Sue Jones
 social security number: 333-33-3333
 gross sales: 10000.00
 commission rate: 0.06,
 SalariedCommissionEmployee: Bob Lewis
 social security number: 444-44-4444
 gross sales: 5000.00
 commission rate: 0.04
 base salary: 300.00,
 I am a well-paid duck]

In [112]:
for employee in employees:
    print(employee)
    print(f'{employee.earnings():,.2f}\n')

CommissionEmployee: Sue Jones
social security number: 333-33-3333
gross sales: 10000.00
commission rate: 0.06
600.00

SalariedCommissionEmployee: Bob Lewis
social security number: 444-44-4444
gross sales: 5000.00
commission rate: 0.04
base salary: 300.00
500.00

I am a well-paid duck
1,000,000.00

In [113]:
## 10.10

In [114]:
from complexnumber import Complex

In [116]:
x = Complex(real=2, imaginary=4)

In [117]:
x

(2 + 4i)

In [118]:
y = Complex(real=5, imaginary=-1)

In [119]:
y

(5 - 1i)

In [120]:
x+y

(7 + 3i)

In [121]:
x += y

In [122]:
x

(7 + 3i)

In [123]:
## 10.12

In [124]:
from collections import namedtuple

In [125]:
Card = namedtuple('Card',['face','suit'])

In [126]:
 card = Card(face='Ace', suit='Spades')

In [127]:
card

Card(face='Ace', suit='Spades')

In [128]:
card.face

'Ace'

In [129]:
 values = ['Queen', 'Hearts']

In [130]:
card = Card._make(values)

In [131]:
card

Card(face='Queen', suit='Hearts')

In [132]:
## 10.13

In [133]:
from dataclasses import dataclass

In [135]:
@dataclass
class demo:
    x

In [136]:
from carddataclass import Card

In [137]:
c1 = Card(Card.FACES[0], Card.SUITS[3])

In [138]:
c1

Card(face='Ace', suit='Spades')

In [140]:
print(c1)

Ace of Spades

In [141]:
from deck2 import DeckOfCards

In [142]:
deck_of_cards = DeckOfCards()

In [143]:
print(deck_of_cards)

Ace of Hearts      2 of Hearts        3 of Hearts        4 of Hearts
5 of Hearts        6 of Hearts        7 of Hearts        8 of Hearts
9 of Hearts        10 of Hearts       Jack of Hearts     Queen of Hearts
King of Hearts     Ace of Diamonds    2 of Diamonds      3 of Diamonds
4 of Diamonds      5 of Diamonds      6 of Diamonds      7 of Diamonds
8 of Diamonds      9 of Diamonds      10 of Diamonds     Jack of Diamonds
Queen of Diamonds  King of Diamonds   Ace of Clubs       2 of Clubs
3 of Clubs         4 of Clubs         5 of Clubs         6 of Clubs
7 of Clubs         8 of Clubs         9 of Clubs         10 of Clubs
Jack of Clubs      Queen of Clubs     King of Clubs      Ace of Spades
2 of Spades        3 of Spades        4 of Spades        5 of Spades
6 of Spades        7 of Spades        8 of Spades        9 of Spades
10 of Spades       Jack of Spades     Queen of Spades    King of Spades

In [144]:
## 10.15

In [145]:
z = 'Global z'

In [146]:
def print_variables():
    y = 'local y in print_variables'
    print(y)
    print(z)

In [147]:
print_variables()

local y in print_variables
Global z

In [148]:
## 10.16

In [149]:
c = lambda f: 5 / 9 * (f - 32)

In [150]:
c

In [151]:
 temps = [(f, c(f)) for f in range(0, 101, 10)]

In [153]:
temps

[(0, -17.77777777777778),
 (10, -12.222222222222223),
 (20, -6.666666666666667),
 (30, -1.1111111111111112),
 (40, 4.444444444444445),
 (50, 10.0),
 (60, 15.555555555555557),
 (70, 21.11111111111111),
 (80, 26.666666666666668),
 (90, 32.22222222222222),
 (100, 37.77777777777778)]

In [154]:
import pandas as pd

In [159]:
temps_df = pd.DataFrame(temps, columns = ['Fahrenheit','Celsius'])

In [160]:
axes = temps_df.plot(x='Fahrenheit', y='Celsius', style='.-')

In [161]:
y_label = axes.set_ylabel('Celsius')

In [180]:
 nyc = pd.read_csv('ave_hi_nyc_jan_1895-2018.csv')

In [181]:
nyc.head()

     Date  Value  Anomaly
0  189501   34.2     -3.2
1  189601   34.7     -2.7
2  189701   35.5     -1.9
3  189801   39.6      2.2
4  189901   36.4     -1.0

In [182]:
nyc.columns = ['Date', 'Temperature', 'Anomaly']

In [183]:
nyc.Date = nyc.Date.floordiv(100)

In [184]:
 pd.set_option('precision', 2)

In [199]:
nyc.Date.describe()

count     124.00
mean     1956.50
std        35.94
min      1895.00
25%      1925.75
50%      1956.50
75%      1987.25
max      2018.00
Name: Date, dtype: float64

In [186]:
from scipy import stats

In [187]:
linear_regression = stats.linregress(x = nyc.Date,
                                     y = nyc.Temperature)

In [188]:
linear_regression

LinregressResult(slope=0.014771361132966163, intercept=8.694993233674289, rvalue=0.1169376670075292, pvalue=0.19586679787456207, stderr=0.011357855112603288)

In [189]:
linear_regression.slope

0.014771361132966163

In [191]:
linear_regression.intercept

8.694993233674289

In [192]:
linear_regression.slope * 2019 + linear_regression.intercept

38.51837136113297

In [193]:
import seaborn as sns

In [194]:
sns.set_style('whitegrid')

In [195]:
axes = sns.regplot(x = nyc.Date, y = nyc.Temperature)

In [196]:
axes.set_ylim(10,70)

(10.0, 70.0)

In [198]:
plt.axes